[Unit]
Description = uWSGI
After = syslog.target

[Service]
ExecStart = uwsgi --ini /Yuri-Kabe/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target